<div class="edit-wrap">
    <div class="edit-title-wrap">
        <input class="edit-input" [(ngModel)]="title" placeholder="标题" required>
        <span class="edit-save" (click)="save()">
            <i class="fa fa-check" aria-hidden="true"></i>
            保存
        </span>
    </div>
    <div class="edit-catetory">
        <input [(ngModel)]="newCategory" type="text" placeholder="新增分类">
        <select [(ngModel)]="category">
            <option value="">---请选择分类---</option>
            <option *ngFor="let category of categorys" [value]='category._id'>{{category.name}}</option>
        </select>
    </div>
    <textarea #simplemde></textarea>
</div>