.tip {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 1.5rem;
    margin: auto;
    height: 0.32rem;
    line-height: 0.32rem;
    color: #eee;
    text-align: center;
    background: #03a9f4;
    border-radius: 3px;
    z-index: 999;
}