footer {
    background: #262a30;
    height: 0.5rem;
    line-height: 0.5rem;
    border-top: 1px solid #ddd;
    color: #999;
}

.outer {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}
